#contact-info {

font-size: .8em;

}

.job {

	background-color: #e9e5dc;
	border-radius: 25px;
	margin-top: 30px;
	padding: 10px;
}

.practice {
	font-size: .8em;
}

section#contact-info p:first-of-type {

	color: red; 


}

#listColor li:first-child {
	color: red;
}
